<h1>Nuevo Héroe <small>sbd</small></h1>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="100">
                <mat-label>Super Héroe</mat-label>
                <input  matInput
                        type="text"
                        required
                        placeholder="Super Héroe">
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input  matInput 
                        type="text"
                        required
                        placeholder="Alter Ego">
            </mat-form-field>
        </div>
        

        <mat-form-field fxFlex="100">
            <mat-label>Primera Aparición</mat-label>
            <input matInput
                   type="text"
                   required
                   placeholder="Primera Aparición">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input matInput
                   type="text"
                   required
                   placeholder="Personajes">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select>
                <mat-option *ngFor="let data of publishers" [value]="data.id">
                  {{data.desc}}
                </mat-option>
              </mat-select> 
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto</mat-label>
            <input matInput
                   type="url"
                   required
                   placeholder="Foto">
        </mat-form-field>

        <button mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Agregar
        </button>

    </div>
    <div div fxFlex="50">
        <img  [src]="heroe | imagen">

    </div>
</div>
