<h1>{{accion}} Héroe <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px"
        fxLayoutGap.xs="column">
            <mat-form-field fxFlex="100">
                <mat-label>Super Héroe</mat-label>
                <input  matInput
                        type="text"
                        required
                        [(ngModel)]="heroe.superhero"
                        placeholder="Super Héroe">
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input  matInput 
                        type="text"
                        required
                        [(ngModel)]="heroe.alter_ego"
                        placeholder="Alter Ego">
            </mat-form-field>
        </div>
        

        <mat-form-field >
            <mat-label>Primera Aparición</mat-label>
            <input matInput
                   type="text"
                   required
                   [(ngModel)]="heroe.first_appearance"
                   placeholder="Primera Aparición">
        </mat-form-field>

        <mat-form-field >
            <mat-label>Personajes</mat-label>
            <input matInput
                   type="text"
                   required
                   [(ngModel)]="heroe.characters"
                   placeholder="Personajes">
        </mat-form-field>

        <mat-form-field >
            <mat-label>Creador</mat-label>
            <mat-select 
            [(ngModel)]="heroe.publisher"
            required>
                <mat-option *ngFor="let data of publishers" [value]="data.id">
                  {{data.desc}}
                </mat-option>
              </mat-select> 
        </mat-form-field>

        <mat-form-field >
            <mat-label>Foto</mat-label>
            <input matInput
                   type="url"
                   required
                   [(ngModel)]="heroe.alt_img"
                   placeholder="Foto">
        </mat-form-field>

        <button mat-raised-button 
        color="primary"
        (click)="guardar()"
        >
            <mat-icon>{{icon}}</mat-icon>
            {{accion}}
        </button>

    </div>
    <div  fxFlex="50" >
        <img  [src]="heroe | imagen">

    </div>
</div>
