<h1>Hola Mundo</h1>

<router-outlet></router-outlet>
<u>
    <li>
        <a href="/auth/login">Login</a>
    </li>
    <li>
        <a href="/auth/register">Registro</a>
    </li>
    <li>
        <a href="/heroes/listado">Listado</a>
    </li>
    <li>
        <a href="/heroes/agregar">Agregar</a>
    </li>
    <li>
        <a href="/heroes/editar:id">Editar</a>
    </li>
    <li>
        <a href="/heroes/buscar">Buscar</a>
    </li>
    <li>
        <a href="/heroes/:id">Id</a>
    </li>
</u>